body{
    font-family: sans-serif;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 1200px;
    background-color: #888888;
    height: 630px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.header{
    background-color: aqua;
    height: auto;
    
}

.container-menu{
    height: 60px;
    background-color: antiquewhite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}
.container-logo{
    width: 100%;
    height: inherit;
    background-color: azure;
    text-align: center;
}
.barra-superior{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #16676d;
}

.titulo-principal{
    width: 50%;
    margin: 25px;
    color: white;
}
.contenedor-menu{
    width: 50%;
    
}

.menu-principal{
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.menu-principal__item > a{
    color: white;
    text-decoration: none;
}

.menu-principal__item > a:hover{
    font-size: 20px;
    text-decoration: underline;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__image{

}

.banner__titulo{
    position: absolute;
    color: white;
    font-size: 4.0em;
    text-shadow: 2px 2px 2px #795548;
}

.container-imagen{
    background-image: url('./bg.png');
    height: 140px;
    /* margin-bottom: 20px; */
}

.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.nav-element{
    padding: 1em 15px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;

}

.nav-element:hover{
    text-decoration: underline;
    font-weight: bold;
}

.image-text{
    margin: 0;
    padding: 9% 0;
    text-align: center;
}

.section-1{
    height: 500px;
    background-color: rebeccapurple;

}

.section-2{
    height: 500px;
    background-color: gainsboro;
}

.section-3{
    height: 500px;
    background-color: coral;
}

.footer{
    background-color: #16676da8;
    display: flex;
    justify-content: space-evenly;
}
.izq-footer{
    width: 50%;
    text-align: center;
    padding: 40px;
    bottom: 0;
}
.der-footer{
  width: 50%;
  text-align: justify;
}

.section-text{
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
}

.col-3{
    width: 33.08%;
    height: 470px;
    background-color: aquamarine;
    display: inline-block;
    padding: -15px;
    margin-top: 5px;
    text-align: center;
}
.col-5{
    width: 19%;
    height: 600px;
    display: inline-block;
    margin: 5px 4px 0;
    text-align: center;
    background-color: rgb(255, 177, 148);
}

.servicios{
    background-color: azure;
    /*display: flex;*/
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.servicios_titulo{
padding-top: 50px;
margin: auto;
font-size: x-large;
text-shadow: 2px 2px 2px#16676d;
}

.servicios_items{
    background-color: rgb(157, 219, 219);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 40px;
}
.servicios_texto{
    max-width: 250;
    padding: 35px;
}

.servicios_contenedor{
    max-width: 250;
    padding: 35px;
    margin-top: 35px;
}


.news{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: rgb(247, 243, 243);
}

.section-text{
    margin: 0;
    color: #333232;
    text-align: center;
}

.section-news > div:first-child{
    margin-bottom: 2px; 
}

.news > div:first-child{
    margin: 0 6px;
}

.news-data{
    width: 49%;
    height: 100%;
    background-color: #86b677;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}

.news-image{
    margin: 10px 0;
    padding: 0 40px;
    color: white;
}

.news-info{
    margin:0; 
    padding:0;
}

.news-text{
    color: rgba(17, 14, 14, 0.973);
    text-align: justify;
    width: 49%;
    padding: 1em 0;
}

.news-text > span.news-url{
    text-align: right;
}

.news-url{
    font-size: 16px;
    float: right;
}

.news-url > a{
    color: #6d85f0ef; 
}

hr{
    color: white;
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item{
    line-height: 3;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color: #3e3e3e;
}

.main-menu__link:hover{
    text-decoration: underline;
    font-weight: bold;
}